@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --clr-primary: #fe4775;
  --clr-secondary: #161060;
  --clr-text-primary: #393939;
  --clr-text-secondary: #111;
  --clr-text-passive: hsla(0, 0%, 0%, 0.55);
  --clr-content-passive: #fbfbfb;
  --fw-primary: 400;
  --fw-secondary: 600;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
  height: 100vh;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary);
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
}
.menuButton {
  grid-column: 1/3;
  justify-self: start;
}

.headerMenu {
  display: grid;
  padding: 1em;
  grid-column: 1/3;
  grid-auto-flow: column;
  justify-content: space-between;
}

.dateSelector {
  display: grid;
  grid-column: 1/2;
  grid-row: span 2;
  place-items: center;
}

.iconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.taskNavLink {
  color: var(--clr-text-passive);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.taskNavLink--active {
  color: var(--clr-primary);
}

.taskList {
  grid-column: 2/3;
  grid-row: span 2;
  overflow: auto;
  padding-left: 1em;
  padding-top: 4em;
  background-color: var(--clr-content-passive);
}

.taskItem {
  display: block;
  margin-bottom: 2em;
}

.taskItem__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.taskItem__checkbox:checked + .taskItem__labelText {
  text-decoration: line-through 0.14em var(--clr-primary);
}
