.taskNavLink {
  color: var(--clr-text-passive);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.taskNavLink--active {
  color: var(--clr-primary);
}
