<form class="addTaskForm">
  <section class="addTaskForm__userInput">
    <label
      ><span class="addTaskForm__description">Description</span
      ><input type="text" name="description"
    /></label>
    <fieldset class="addTaskForm__fieldset">
      <legend class="addTaskForm__description">When</legend>
      <div class="addTaskForm__radioGroup">
        <label class="addTaskForm__radioLabel">
          Today
          <input
            class="addTaskForm__radio"
            type="radio"
            name="when"
            id="when_today"
          />
        </label>
        <label class="addTaskForm__radioLabel">
          Tomorrow
          <input
            class="addTaskForm__radio"
            type="radio"
            name="when"
            id="when_tomorrow"
          />
        </label>
        <label class="addTaskForm__radioLabel">
          Select Date
          <input
            class="addTaskForm__radio"
            type="radio"
            name="when"
            id="when_select"
          />
        </label>
      </div>
    </fieldset>
  </section>
  <div>
    <input class="addTaskForm__submit" type="submit" value="Add task" />
  </div>
</form>
