<form class="addTaskForm">
  <div class="addTaskForm__userInput">
    <label>Description<input type="text" name="description" /></label>
    <fieldset>
      <legend>When</legend>
      <label>
        Today
        <input type="radio" name="when" id="when_today" />
      </label>
      <label>
        Tomorrow
        <input type="radio" name="when" id="when_tomorrow" />
      </label>
      <label>
        Select Date
        <input type="radio" name="when" id="when_select" />
      </label>
    </fieldset>
  </div>
  <div>
    <input class="addTaskForm__submit" type="submit" value="Add task" />
  </div>
</form>
