<button aria-label="open menu" class="iconButton">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="30"
    height="12"
    viewBox="0 0 30 12"
  >
    <defs>
      <style>
        .a {
          fill: none;
        }
        .b {
          clip-path: url(#a);
        }
        .c {
          fill: #373737;
          stroke: #2f2f2f;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        .d {
          stroke: none;
        }
      </style>
      <clipPath id="a"><rect class="a" width="30" height="12" /></clipPath>
    </defs>
    <g class="b">
      <g class="c">
        <rect class="d" width="22" height="4" rx="2" />
        <rect class="a" x="0.5" y="0.5" width="21" height="3" rx="1.5" />
      </g>
      <g class="c" transform="translate(0 8)">
        <rect class="d" width="30" height="4" rx="2" />
        <rect class="a" x="0.5" y="0.5" width="29" height="3" rx="1.5" />
      </g>
    </g>
  </svg>
</button>
