<section class="taskList">
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
      >Book appointment with Jared</span
    >
  </label>
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
      >Walk the dog</span
    >
  </label>
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
      >Eat lunch and walk</span
    >
  </label>
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
      >Cook a delicious dinner for everyone</span
    >
  </label>
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" /><span
      class="taskItem__labelText"
      >Go to Heidepark with the Family on every weekend of the year</span
    >
  </label>
</section>
